<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clonado Libre</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="home">
    <header class="header">
      <img
        src="/images/logo-mercado-liebre.svg"
        alt="Mercado Liebre"
        class="header__logo"
      />
      <section class="header__search">
        <input
          type="text"
          name="buscar"
          id="buscar"
          placeholder="Buscar productos, marcas"
          class="header__search__box"
        />
        <i class="fa-solid fa-magnifying-glass header__search__lupa"></i>
      </section>

      <p class="header__title">
        <i class="fa-solid fa-hand-holding-dollar" class="header__hand"></i> Comprá en
        cuotas y sin tarjeta de crédito
      </p>
      <nav class="home__menu">
        <ul>
          <li class="menu__link"><a href="">Ofertas</a></li>
          <li class="menu__link"><a href="">Tiendas Oficiales</a></li>
          <li class="menu__link"><a href="">Vender</a></li>
          <li class="menu__link"><a href="">Ayuda</a></li>
        </ul>
      </nav>
      <nav class="home__cuenta">
        <ul>
          <li class="cuenta__link">
            <a href="">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i>
          </li>
          <li class="cuenta__link">
            <a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li class="cuenta__link">
            <a href="">Mis compras </a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="home__header__burger">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    <main class="home__main">
      <div class="home__banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </div>
      <section class="home__main__historial">
        <h3>Basado en tu última visita</h3>
        <article class="item__card">
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="nombreProducto">Cafetera Moulinex</p>
          </section>
        </article>

        <article class="item__card">
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="nombreProducto">MacBook Pro 2019</p>
          </section>
        </article>
        <article class="item__card">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="nombreProducto">Samsung Galaxy S10</p>
          </section>
        </article>
        <article class="item__card">
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="nombreProducto">SmartTv Samsung 43"</p>
          </section>
        </article>
      </section>
      <section class="home__main__ofertas">
        <h3>Ofertas recomendadas</h3>
        <article class="item__card">
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="nombreProducto">Cafetera Moulinex</p>
          </section>
        </article>
        <article class="item__card">
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="nombreProducto">MacBook Pro 2019</p>
          </section>
        </article>
        <article class="item__card">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="nombreProducto">Samsung Galaxy S10</p>
          </section>
        </article>
        <article class="item__card">
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <section class="item__card__detalles">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="nombreProducto">SmartTv Samsung 43"</p>
          </section>
        </article>
      </section>
    </main>

    <footer class="footer">
      <section class="footer__credit">
        <i class="fa-solid fa-credit-card"></i>
        <h4 class="footer__titulo">Pagá con tarjeta o en efectivo</h4>
        <p class="footer__descripcion">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="footer__envios">
        <i class="fa-solid fa-gift"></i>
        <h4 class="footer__titulo">Envío gratis desde $ 2.500</h4>
        <p class="footer__descripcion">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="footer__seguridad">
        <i class="fa-solid fa-user-shield"></i>
        <h4 class="footer__titulo">Seguridad, de principio a fín</h4>
        <p class="footer__descripcion">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section class="copy">
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </section>
    </footer>
  </body>
</html>
